@import "../settings/variables";

.badge {
  width: 15px;
  top: 11px;
  text-align: center;
  left: 103px;
  position: absolute;
  height: 15px;
  font-size: 13px;
  color: #fff;
  border-radius: 100%;
  background-color: $colorLight;
}
