@import "../settings/variables";

.btn {
  border: none;
  color: #fff;
  &_danger {
    background-color: $dangerColor;
    &:hover {
      background-color: $dangerHoverColor;
    }
  }
  &_primary {
    background-color: $primaryColor;
    &:hover {
      background-color: $primaryHoverColor;
    }
  }
  &_success {
    background-color: $successColor;
    &:hover {
      background-color: $successHoverColor;
    }
  }
}
