.drop-list {
  transition-property: opacity, transform;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}

@keyframes drop {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
