@import "../settings/variables";

.list-item {
  position: relative;
  color: $colorLight;
  background-color: $bacgkroundLight;
  &:hover {
    background-color: $bacgkroundDark;
    color: $colorHoverDark;
  }
  a {
    padding: 15px 25px 15px 15px;
    display: flex;
    color: inherit;
    align-items: center;
    span {
      margin: 3px 0 0 11px;
    }
  }
  &_active {
    background-color: $bacgkroundDark !important;
    color: $colorHoverDark;
    &-dark {
      background-color: rgba(0, 0, 0, 0.04);
      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }
  }
}
