.overlay {
  &-narrow {
    max-width: none !important;
    width: 320px;
    mat-dialog-container {
      padding: 24px 12px;
    }
  }
}

.calendar-day {
  max-width: 100% !important;
  mat-dialog-container {
    padding: 0;
  }
}

@media (max-width: 860px) {
  .overlay-wide {
    width: 85%;
    max-width: none !important;
  }
}

@media (max-width: 601px) {
  .overlay-wide {
    width: 95%;
  }
  .title {
    text-align: left;
  }
  .calendar-day {
    width: 100%;
  }
}
