.table {
  box-shadow: none;
  text-align: center;
  border-radius: 3px;
  width: 100%;
  position: relative;
  td,
  th {
    padding: 10px 0;
    border: 2px var(--bacgkroundDark) solid;
  }
  thead {
    background-color: var(--bacgkroundDark);
  }
  tbody {
    background-color: var(--bacgkroundLight);
  }
  &__btn {
    padding: 0 !important;
    button {
      height: 41px;
      width: 100%;
      font-size: 16px;
    }
    &_little {
      button {
        height: 31px;
        width: 50%;
        font-size: 13px;
      }
    }
  }
  &__add {
    position: absolute;
    right: 19px;
    top: -47px;
    padding: 9px 12px;
    font-size: 14px;
  }
}

@media (max-width: 959px) {
  .table {
    font-size: 14px;
  }
}

@media (max-width: 599px) {
  .table {
    font-size: 13px;
  }
}
