@import "../settings/variables";

.table {
  padding-right: 90px;
  box-shadow: none;
  text-align: center;
  border-radius: 3px;
  width: 100%;
  position: relative;
  td,
  th {
    padding: 10px 0;
    border: 2px $bacgkroundDark solid;
  }
  thead {
    background-color: $bacgkroundDark;
  }
  tbody {
    background-color: $bacgkroundLight;
  }
  &__btn-group {
    border: 2px $bacgkroundDark solid;
    box-sizing: border-box;
    height: 40px;
    background-color: $bacgkroundLight;
    width: 88px;
    right: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    button {
      &:hover {
        color: $colorGrey;
      }
    }
    &_little {
      padding: 0 !important;
      button {
        width: 120px;
        &:hover {
          color: $colorGrey;
        }
      }
    }
  }
  &__add {
    height: 40px;
    width: 88px;
    position: absolute;
    right: 2px;
    top: 2px;
    padding: 9px 12px;
    font-size: 14px;
  }
}

@media (max-width: 959px) {
  .table {
    font-size: 14px;
    &__add {
      height: 39px;
    }
    &__btn-group {
      height: 38px;
    }
  }
}

@media (max-width: 599px) {
  .table {
    font-size: 13px;
    padding-right: 0;
    &__add {
      width: auto;
      height: auto;
      right: 19px;
      top: -47px;
    }
  }
}
