<form (submit)="onSubmit($event)" [formGroup]="lessonForm" class="form lesson-form">
  <div class="form__label">Информация о занятии</div>
  <div class="form__helpers">
    <button
      class="form__btn btn btn_primary"
      type="button"
      (click)="onChangeKind('common')"
      [ngClass]="{'btn_success': lessonKind === 'common'}"
    >
    Общее</button>
    <button
      class="form__btn btn btn_primary"
      type="button"
      (click)="onChangeKind('personal')"
      [ngClass]="{'btn_success': lessonKind === 'personal'}"
    >
    Персональное</button>
  </div>
  <div class="form__input-container">
    <input
      class="form__input"
      [owlDateTime]="startTimePicker"
      formControlName="startTime"
      [min]="minTime"
      placeholder="Дата и время начала занятия"
    >
    <span
      *ngIf="lessonForm.controls.startTime.touched && lessonForm.controls.startTime.errors?.required"
      class="error-message">
      Укажите время и дату занятия
    </span>
    <span
      *ngIf="lessonForm.controls.startTime.errors?.owlDateTimeMin"
      class="error-message">
      Занятие назначается минимум за час
    </span>
    <span
      *ngIf="lessonForm.errors?.timeTaken && !lessonForm.controls.startTime.errors?.owlDateTimeMin"
      class="error-message">
      Время занято другим занятием
    </span>
    <owl-date-time [pickerMode]="'dialog'" #startTimePicker></owl-date-time>
    <button type="button" mat-icon-button>
      <mat-icon [owlDateTimeTrigger]="startTimePicker">home</mat-icon>
    </button>
  </div>

  <div *ngIf="lessonKind === 'common'" class="form__input-container mt-15">
    <input
      type="number"
      class="form__input"
      placeholder="45"
      formControlName="durationMinutes"
      min="30"
      max="180"
    >
    <div *ngIf="!lessonForm.controls.durationMinutes.errors" class="hint-message">
      Длительность в минутах
    </div>
    <span
      *ngIf="lessonForm.controls.durationMinutes.touched
        && lessonForm.controls.durationMinutes.errors?.required"
      class="error-message">
      Укажите длительность занятия
    </span>
    <span
      *ngIf="!lessonForm.controls.durationMinutes.errors?.required
        && (lessonForm.controls.durationMinutes.errors?.min
        || lessonForm.controls.durationMinutes.errors?.max )"
      class="error-message">
      От 30 до 180 минут
    </span>
  </div>

  <div *ngIf="lessonKind === 'personal'" class="form__container lesson-form__numbers">
    <div class="form__input-container lesson-form__number">
      <input
        type="number"
        class="form__input"
        placeholder="45"
        formControlName="durationMinutes"
        min="30"
        max="180"
      >
      <div *ngIf="!lessonForm.controls.durationMinutes.errors" class="hint-message">
        Длительность <br> в минутах
      </div>
      <span
        *ngIf="lessonForm.controls.durationMinutes.touched
          && lessonForm.controls.durationMinutes.errors?.required"
        class="error-message">
        Укажите длительность занятия
      </span>
      <span
        *ngIf="!lessonForm.controls.durationMinutes.errors?.required
          && (lessonForm.controls.durationMinutes.errors?.min
          || lessonForm.controls.durationMinutes.errors?.max )"
        class="error-message">
        От 30 до 180 минут
      </span>
    </div>

    <div class="form__input-container lesson-form__number">
      <input
        type="number"
        class="form__input"
        placeholder="300"
        formControlName="price"
        min="0"
      >
      <span
        *ngIf="lessonForm.controls.price.touched && lessonForm.controls.price.errors?.required"
        class="error-message">
        Укажите цену за занятие
      </span>
      <span
        *ngIf="!lessonForm.controls.price.errors?.required
          && lessonForm.controls.price.errors?.min"
        class="error-message">
        Минимальная стоимость 0 рублей
      </span>
      <div *ngIf="!lessonForm.controls.price.errors" class="hint-message">
        Цена в рублях
      </div>
    </div>
  </div>

  <ng-container *ngIf="lessonKind === 'common'">
    <div class="form__label">
      Группа учащихся
    </div>

    <div class="form__input-container">
      <select (change)="onPickGroup($event)" class="form__input">
        <option selected disabled value="">Выберите группу</option>
        <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
      </select>
    </div>

    <div class="form__no-items" *ngIf="!lessonForm.controls.pickedGroup.value">
      <mat-icon>warning</mat-icon>
      <span>Группа не выбрана</span>
    </div>

    <div class="lesson-form__picked-group" *ngIf="lessonForm.controls.pickedGroup.value">
      <div>
        {{ lessonForm.controls.pickedGroup.value.name }} -
        {{ lessonForm.controls.pickedGroup.value.studentIdList.length }}
        {{ 'учащи' | plural:lessonForm.controls.pickedGroup.value.studentIdList.length:['йся', 'хся', 'хся'] }}
      </div>
      <button (click)="onUnpickGroup()" type="button" mat-icon-button>
          <mat-icon>remove_circle_outline</mat-icon>
      </button>
    </div>
  </ng-container>

  <app-student-picker
    *ngIf="lessonKind === 'personal'"
    [students]="students"
    [studentMode]="true"
    (pickedStudentsChanged)="onPickStudents($event)"
  ></app-student-picker>

  <span
    *ngIf="lessonKind === 'common' && submitTry === true && lessonForm.controls.pickedGroup.errors"
    class="error-message error-message_centered">
    Необходимо указать группу
  </span>

  <span
    *ngIf="lessonKind === 'personal' && submitTry === true && lessonForm.controls.pickedStudents.errors"
    class="error-message error-message_centered">
    Необходимо указать учащихся
  </span>

  <div class="form__controls">
    <button class="btn btn_success form__btn">Добавить</button>
    <button
      (click)="onCancel()"
      type="button"
      class="btn btn_danger form__btn"
    >Отменить</button>
  </div>
</form>

