@import "../../../../styles/settings/variables";

.lesson-form {
  &__kind {
    display: flex;
    justify-content: space-around;
    margin: 12px 20px;
  }
  &__picked-group {
    color: $colorDark;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    align-items: center;
    margin-bottom: 5px;
    button {
      margin-left: 10px;
      &:hover {
        color: $colorGrey;
      }
    }
  }
  &__numbers {
    justify-content: center;
  }
  &__number {
    flex: 0 0 43%;
  }
}

.mt-15 {
  margin-top: 15px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}
