.account {
  position: relative;
  &__image {
    width: 44px;
    height: 44px;
    cursor: pointer;
    img {
      border: 2px var(--bacgkroundLight) solid;
      width: 100%;
      box-sizing: border-box;
      border-radius: 100%;
      &:hover {
        border-color: var(--bacgkroundDark);
      }
    }
    &_active {
      img {
        border-color: var(--colorHoverDark);
        &:hover {
          border-color: var(--colorHoverDark);
        }
      }
    }
  }
  &__details {
    z-index: 10;
    animation-name: drop;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    overflow: initial;
    min-width: 150px;
    position: absolute;
    top: 51px;
    right: 0;
    border-radius: 10px;
    opacity: 0;
    &::before {
      top: -19px;
      right: 19px;
      position: absolute;
      display: block;
      content: "";
      border: 10px transparent solid;
      border-bottom-color: var(--bacgkroundDark);
    }
    li:last-child {
      border-radius: 0 0 10px 10px;
    }
  }
  &__name {
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding: 15px 25px 15px 15px;
    cursor: initial;
    color: var(--colorLight);
    border-bottom: 3px solid;
    border-color: var(--colorHoverDark);
    background-color: var(--bacgkroundDark);
  }
}
