@import '../../../../styles/settings/variables';

.student-form {
  mat-datepicker-toggle {
    display: flex;
    align-items: center;
  }
  &__relatives {
    color: $colorDark;
    text-align: center;
    margin: 10px 0;
    button {
      margin-top: 15px;
    }
    button[mat-icon-button] {
      margin: 0;
      &:hover {
        color: $colorGrey;
      }
    }
  }
  &__add-group {
    top: 0;
    text-align: center;
    right: 10px;
    position: absolute;
    padding: 6px 10px;
    margin: 1px auto;
    display: block;
  }
  hr {
    border-style: dashed;
    border-color: $colorDark;
    flex-grow: 1;
    border-bottom: none;
  }
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

@media (max-width: 600px) {
  .student-form {
    &__add-group {
      position: static;
    }
    &__relative {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    hr {
      display: none;
    }
  }
}
