.student-form {
  mat-datepicker-toggle {
    display: flex;
    align-items: center;
  }
  &__relatives {
    color: #3c4958;
    text-align: center;
    margin: 10px 0;
    button {
      margin-top: 15px;
    }
  }
  &__relative {
    margin-top: 7px;
    button {
      margin: 0;
      &:hover {
        color: #72849e;
      }
    }
  }
  &__no-relatives {
    display: flex;
    justify-content: center;
    align-items: center;
    mat-icon {
      margin: 0 6px 5px 0;
    }
  }
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

@media (max-width: 600px) {
  .student-form {
    &__no-relatives {
      span {
        font-size: 14px;
      }
    }
    &__relative {
      span {
        display: block;
      }
    }
  }
}
