@import "../../../../styles/settings/variables";

.student-info {
  color: $colorDark;
  padding: 0 10px;
  &__title {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    mat-icon {
      margin: -3px 4px 0px 3px;
    }
  }
  &__piece {
    margin: 12px 0;
  }
}
