@import "../../../../styles/settings/variables";

.selected-student {
  position: relative;
  text-align: center;
  color: $colorDark;
  div {
    margin: 7px 0;
    &:last-child {
      margin: 0;
    }
  }
}

.student-item {
  margin: 15px 0;
}

button[mat-icon-button] {
  height: auto;
  line-height: initial;
  &:hover {
    color: $colorGrey;
  }
}
