<div class="form__label">
  Выберите учащегося
</div>
<div class="form__input-container">
  <select [disabled]="students.length === 0" (change)="onSelectStudent($event)" class="form__input">
    <option value="" disabled [selected]="true">
      {{ students.length === 0 ? 'Список пуст' : 'Список учащихся' }}
    </option>
    <option *ngFor="let student of students" [value]="student.id">
      {{ student | fullname:0 }}
    </option>
  </select>
</div>
<div>
  <div *ngIf="selectedStudent" class="selected-student">
    <div>
      {{ selectedStudent | fullname:1 }}
      {{ selectedStudent.birthDate | birthdate }}
    </div>
    <div>
      <button mat-icon-button (click)="onUnselectStudent()">
        <mat-icon>remove_circle</mat-icon>
      </button>
      <button mat-icon-button (click)="onPickStudent()">
        <mat-icon>add_box</mat-icon>
      </button>
    </div>
    <hr>
  </div>
  <div class="form__label">
    <span>
      Список учащихся:
    </span>
    <button
      *ngIf="!studentMode"
      (click)="onAddNewStudent()"
      mat-icon-button
      type="button"
      matTooltip="Добавить нового учащегося"
      matTooltipPosition="above"
    >
      <mat-icon
      >add_circle</mat-icon>
    </button>
  </div>
  <div class="form__no-items" *ngIf="pickedStudents.length === 0">
    <mat-icon>warning</mat-icon>
    <span>Нет учащихся</span>
  </div>
  <div class="form__list">
    <div *ngFor="let student of pickedStudents" class="form__list-item student-item">
      <span>
        {{ student | fullname:1 }}
        {{ student.birthDate | birthdate }}
      </span>
      <span>
        <button (click)="onDeleteStudent(student.id)" type="button" mat-icon-button>
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </span>
    </div>
  </div>
</div>
