<h2 class="title">Ученики</h2>
<section class="section students">
  <button (click)="onAddStudent()" class="btn btn_success students__add">Добавить</button>
  <table>
    <thead>
      <tr>
        <th>ФИО</th>
        <th>{{ 'Группа' | trancate:4:960 }}</th>
        <th>{{ 'Возраст' | trancate:4:960 }}</th>
        <th>{{ 'Посещаемость' | trancate:5:960 }}</th>
        <th colspan="2" fxHide.lt-sm>Править / удалить</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let student of students">
        <tr>
          <td>{{ student.surname | fullname:student.name:student.fatherName }}</td>
          <td>{{ getGroupName(student.group) | group }}</td>
          <td>{{ student.birthDate | age }}</td>
          <td>{{ student.passedLessons | attendance:student.visitedLessons }}</td>
          <td fxHide.lt-sm class="students__btn">
            <button (click)="onEditStudent(student.id)" class="btn btn_primary">Править</button>
          </td>
          <td fxHide.lt-sm class="students__btn">
            <button (click)="onDeleteStudent(student.id)" class="btn btn_danger">Удалить</button>
          </td>
        </tr>
        <tr fxHide.gt-xs>
          <td colspan="4" class="students__btn students__btn_little">
            <button (click)="onEditStudent(student.id)" class="btn btn_primary">Править</button>
            <button (click)="onDeleteStudent(student.id)" class="btn btn_danger">Удалить</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="not-found" *ngIf="students.length === 0">
    <mat-icon>warning</mat-icon>
    <div>
      Список учеников пуст
    </div>
  </div>
</section>