<h2 class="title">Ученики</h2>
<section class="section students">
  <table class="students__table table">
    <button (click)="onAddStudent()" class="btn btn_success table__add">Добавить</button>
    <thead>
      <tr>
        <th>ФИО</th>
        <th>{{ 'Группа' }}</th>
        <th>{{ 'Возраст' }}</th>
        <th>{{ 'Посещаемость'}}</th>
      </tr>
    </thead>
    <tbody *ngIf="!pending">
      <ng-container *ngFor="let student of students">
        <tr>
          <td>{{ student | fullname:'{S} {n}{f}' }}</td>
          <td>{{ getGroupName(student.groupId) }}</td>
          <td>{{ student.birthDate | age }}</td>
          <td>{{ student.passedLessons | attendance:student.visitedLessons }}</td>
          <div fxHide.lt-sm class="table__btn-group">
            <button
              (click)="onEditStudent(student.id)"
              mat-icon-button
              matTooltip="Править учащегося"
              matTooltipPosition="above"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              (click)="onDeleteStudent(student.id)"
              mat-icon-button
              matTooltip="Удалить учащегося"
              matTooltipPosition="above"
            >
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </div>
        </tr>
        <tr fxHide.gt-xs>
          <td class="table__btn-group_little" colspan="4">
            <button
              (click)="onEditStudent(student.id)"
              mat-icon-button
              matTooltip="Править учащегося"
              matTooltipPosition="above"
            >Править
              <mat-icon>edit</mat-icon>
            </button>
            <button
              (click)="onDeleteStudent(student.id)"
              mat-icon-button
              matTooltip="Удалить учащегося"
              matTooltipPosition="above"
            >Удалить
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="not-found" *ngIf="students.length === 0 && !pending">
    <mat-icon>warning</mat-icon>
    <div>
      Список учащихся пуст
    </div>
  </div>
  <div *ngIf="pending" class="spinner">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
</section>
