@import "../../../styles/settings/variables";

.students {
  padding-bottom: 0;
  color: $colorDark;
  button {
    border: none;
  }
  th,
  td {
    width: 25%;
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
