<form [formGroup]="groupForm" (submit)="onSubmit()" class="form group-form">
  <div class="form__label">
    Информация о группе
  </div>
  <div class="form__input-container">
    <input
      type="text"
      placeholder="Название / № группы"
      class="form__input"
      formControlName="name"
      trim="blur"
    >
    <span
      *ngIf="groupForm.controls.name.errors?.required && groupForm.controls.name.touched"
      class="error-message"
    >Укажите название / № группы
    </span>
    <span
      *ngIf="groupForm.controls.name.errors?.maxlength"
      class="error-message"
    >{{ 'Максимум ' + groupForm.controls.name.errors.maxlength.requiredLength  + ' символов' }}
    </span>
    <span
      *ngIf="groupForm.controls.name.errors?.groupNameTaken"
      class="error-message"
    >Название группы занято
    </span>
  </div>

  <app-student-picker
    *ngIf="!pending"
    [students]="students"
    [pickedStudents]="pickedStudents"
    [studentMode]="data ? data.studentMode : false"
    (newStudentToAdd)="onAddNewStudent()"
    (pickedStudentsChanged)="onPickStudents($event)"
  ></app-student-picker>

  <div *ngIf="pending" class="spinner">
    <mat-spinner diameter="45"></mat-spinner>
  </div>

  <div class="form__controls">
    <button *ngIf="!editMode" class="btn btn_success form__btn">Добавить</button>
    <button *ngIf="editMode" class="btn btn_primary form__btn">Сохранить</button>
    <button (click)="onCancel()" type="button" class="btn btn_danger form__btn">Отменить</button>
  </div>
</form>
