<div class="student-info">
  <div class="student-info__title">
    <mat-icon>info</mat-icon>Информация об учащемся:
  </div>
  <div class="student-info__piece">
    Имя: {{ student | fullname:'{S} {N} {F}' }}
  </div>
  <div class="student-info__piece">
    Дата рождения: {{ student.birthDate | birthdate }}
  </div>
  <div class="student-info__piece">
    Посещаемость: {{ student.passedLessons | attendance:student.visitedLessons }}
  </div>
  <div class="student-info__piece">
    Группа: {{ getGroupName(student.groupId) }}
  </div>
  <hr>
  <div class="student-info__title">
    <mat-icon>face</mat-icon>Родственники учащегося:
  </div>
  <div class="student-info__piece">
    <div *ngFor="let relative of student.relatives" class="student-info__relative">
      <div class="student-info__piece">
        {{ relative.kind }}:
        {{ relative | fullname:'{S} {N} {F}' }}
      </div>
      <div *ngIf="relative.number" class="student-info__piece">
        Номер: {{ relative.number }}
      </div>
    </div>
  </div>

  <hr>
  <div class="student-info__title">
    <mat-icon>payment</mat-icon>Оплата:
  </div>
  <div class="student-info__piece">
    К оплате за всё время: {{ student.owed }}р.
  </div>
  <div class="student-info__piece">
    Оплачено за всё время: {{ student.paid }}р.
  </div>
  <div *ngIf="student.owed - student.paid >= 0" class="student-info__piece">
    Должен: {{ student.owed - student.paid }}р.
  </div>
  <div *ngIf="student.owed - student.paid < 0" class="student-info__piece">
    Остаток: {{ student.paid - student.owed }}р.
  </div>

  <div class="drop-controls">
    <button *ngIf="enableDeletion" (click)="onRemoveStudent()" class="btn btn_primary">
      Убрать из {{ lessonKind === 'personal' ? 'занятия' : 'группы' }}
    </button>
    <button (click)="onClose()" class="btn btn_danger">
      Закрыть
    </button>
  </div>

</div>
