.relative-form {
  mat-datepicker-toggle {
    display: flex;
    align-items: center;
  }
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}
