@import "../../styles/settings/variables";

mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}

mat-sidenav-content {
  padding-top: 54px;
}

mat-sidenav {
  width: 250px;
  background-color: $bacgkroundLight;
}
