:root {
  --primaryColor: #4c87fd;
  --primaryHoverColor: #3f74df;
  --successColor: #44d18d;
  --successHoverColor: #35b678;
  --dangerColor: #fd715a;
  --dangerHoverColor: #da6250;
  --warningColor: #f7c95f;
  --bacgkroundDark: #e7ebee;
  --bacgkroundLight: #f0f3f8;
  --colorDark: #3c4958;
  --colorHoverDark: #95a9c7;
  --colorLight: #a6a8a9;
}
