<button
  (click)="onDeleteLesson()"
  class="lesson__delete"
  type="button"
  mat-icon-button
  matTooltip="Удалить занятие"
  matTooltipPosition="above"
>
  <mat-icon>remove_circle_outline</mat-icon>
</button>
<div class="lesson" (click)="onOpenLesson()">
  <div class="lesson__head">
    <div class="lesson__start">{{ lesson.startTime | time }}</div>
    <div class="lesson__duration">
      {{ lesson.durationMinutes }}
      {{ 'минут' | plural:lesson.durationMinutes:['а', 'а', ''] }}
    </div>
  </div>

  <ng-container *ngIf="!pending">
    <div *ngIf="lesson.kind === 'common'" class="lesson__group">
      <mat-icon>group</mat-icon>
      <span>{{ getGroupName(groupId) }}</span>
    </div>

    <div
      *ngIf="lesson.kind === 'personal' && lesson.studentsInfo.length <= 1"
      class="lesson__single">
      <mat-icon>person</mat-icon>
      <span *ngIf="students[0]">
        {{ students[0] | fullname:'{S} {n}{f}' }}
      </span>
      <span *ngIf="!students[0]">
        Нет учащихся
      </span>
    </div>

    <div
      *ngIf="lesson.kind === 'personal' && lesson.studentsInfo.length > 1"
      class="lesson__personal">
      <div class="lesson__student-number">
        {{ lesson.studentsInfo.length }}
        {{ 'учащи' | plural:lesson.studentsInfo.length:['йся', 'хся', 'хся'] }}
      </div>
      <div class="lesson__list">
        <div
          *ngFor="let i of [0, 1, 2, 3, 4, 5]"
          class="lesson__student"
          >{{ students[i] ? (students[i] | fullname:'{S} {n}{f}') : '-' }}
        </div>
      </div>
    </div>
  </ng-container>

  <div *ngIf="pending" class="spinner">
    <mat-spinner diameter="45"></mat-spinner>
  </div>

</div>
