<div class="lesson">
  <div class="lesson__head">
    <div class="lesson__start">12:00</div>
    <div class="lesson__duration">45 минут</div>
  </div>
  <div class="lesson__group">
    <mat-icon>group</mat-icon>
    <span>Группа №45</span>
  </div>
  <!-- <div class="lesson__single">
    <mat-icon>person</mat-icon>
    <span>Шурыгин Д.О.</span>
  </div> -->
  <!-- <div class="lesson__personal">
    <div class="lesson__student-number">5 ученика</div>
    <div class="lesson__list">
      <div class="lesson__student">Шурыгин Д.О.</div>
      <div class="lesson__student">Шурыгин Д.О.</div>
      <div class="lesson__student">Шурыгин Д.О.</div>
      <div class="lesson__student">Шурыгин Д.О.</div>
      <div class="lesson__student">Шурыгин Д.О.</div>
      <div class="lesson__student"></div>
    </div>
  </div> -->
  
</div>