<h2 class="title">
  {{ pending ? 'Загрузка...' : getLessonTime() }}
</h2>
<section class="section lesson-students">
  <table class="table lesson-students__table">
    <button
      *ngIf="!isLessonEnded()"
      (click)="onAddStudents()"
      class="btn btn_success table__add lesson-students__add"
      [matTooltip]="lesson?.kind === 'personal' ? 'Добавить учащегося в занятие' : 'Добавить учащегося в группу'"
      matTooltipPosition="above"
    >Добавить</button>
    <thead>
      <tr>
        <th>ФИО</th>
        <th>Б/Н</th>
        <th *ngIf="lesson?.kind === 'personal'" class="payment">
          <div class="th-title">Оплата</div>
          <div class="th-signers">
            <span>Надо</span>
            <span>Внёс</span>
          </div>
        </th>
        <th fxHide.lt-md class="th-radio">
          <div class="th-title">Поведение</div>
          <div class="th-signers">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
          </div>
        </th>
        <th fxHide.lt-md class="th-radio">
          <div class="th-title">Оценка</div>
          <div class="th-signers">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="!pending">
      <ng-container *ngFor="let student of students">
        <tr>
          <td
            (click)="onShowStudentInfo(student)"
            class="lesson-students__student-name"
            matTooltip="Подробная информация"
            matTooltipPosition="above"
          >{{ student | fullname:'{S} {n}{f}' }}</td>
          <td>
            <ui-switch
              [disabled]="!isLessonEnded()"
              [checked]="studentAttended(student.id)"
              (change)="onChangeAttendance($event, student.id)"
              size="small"
            ></ui-switch>
          </td>
          <td *ngIf="lesson?.kind === 'personal'">
            <div class="inputs">
              <div class="inputs__input">
                <span>{{ lessonPrice }}</span>
              </div>
              <input
                type="number"
                [value]="student.paid - student.owed + lessonPrice"
                class="inputs__input"
                (change)="onChangeStudentPayment($event, student.id)"
              >
            </div>
          </td>
          <td fxHide.lt-md>
            <mat-radio-group
              [disabled]="!isLessonEnded()"
              [value]="getStudentBehavior(student.id)"
              (change)="changeStudentBehavior($event, student.id)"
              color="primary"
            >
              <mat-radio-button *ngFor="let i of [1, 2, 3, 4, 5];" [value]="i"></mat-radio-button>
            </mat-radio-group>
          </td>
          <td fxHide.lt-md>
            <mat-radio-group
              [disabled]="!isLessonEnded()"
              [value]="getStudentMark(student.id)"
              (change)="changeStudentMark($event, student.id)"
              color="primary"
            >
              <mat-radio-button *ngFor="let i of [1, 2, 3, 4, 5];" [value]="i"></mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        <tr class="small" fxHide.gt-sm>
          <td colspan="3">
            <div>
              <div>
                <div class="th-title">Поведение</div>
                <div class="th-signers">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                  <span>4</span>
                  <span>5</span>
                </div>
                <mat-radio-group
                  [disabled]="!isLessonEnded()"
                  [value]="getStudentBehavior(student.id)"
                  (change)="changeStudentBehavior($event, student.id)"
                  color="primary"
                >
                  <mat-radio-button *ngFor="let i of [1, 2, 3, 4, 5];" [value]="i"></mat-radio-button>
                </mat-radio-group>
              </div>
              <div>
                <div class="th-title">Оценка</div>
                <div class="th-signers">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                  <span>4</span>
                  <span>5</span>
                </div>
                <mat-radio-group
                  [disabled]="!isLessonEnded()"
                  [value]="getStudentMark(student.id)"
                  (change)="changeStudentMark($event, student.id)"
                  color="primary"
                >
                  <mat-radio-button *ngFor="let i of [1, 2, 3, 4, 5];" [value]="i"></mat-radio-button>
                </mat-radio-group>
              </div>

            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <div class="not-found" *ngIf="students.length === 0 && !pending">
    <mat-icon>warning</mat-icon>
    <div>
      Учащиеся отсутствуют
    </div>
  </div>

  <div *ngIf="pending" class="spinner">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
</section>
