@import '../../../styles/settings/variables';

.header {
  padding: 0 20px;
  justify-content: space-between;
  height: 54px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  z-index: 15;
  border-bottom: 1px $bacgkroundDark solid;
  align-items: center;
  &__left {
    display: flex;
    align-items: center;
    button {
      width: 40px;
      margin-right: 15px;
      height: 40px;
      border: none;
      border-radius: 100%;
      mat-icon {
        vertical-align: middle;
        color: #fff;
      }
    }
  }
  .logo {
    height: 40px;
    width: 40px;
    img {
      width: 100%;
    }
  }
}
