.group-form {
  overflow-x: hidden;
  &__student {
    margin-top: 0 !important;
    &-list {
      margin-top: 0;
    }
  }
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}
