@import "./styles/reset";
@import "~ng-pick-datetime/assets/style/picker.min.css";

@import "./styles/settings/variables";

@import "./styles/blocks/form";
@import "./styles/blocks/btn";
@import "./styles/blocks/badge";
@import "./styles/blocks/not-found";
@import "./styles/blocks/messages";
@import "./styles/blocks/overlay";
@import "./styles/blocks/table";
@import "./styles/blocks/spinner";
@import "./styles/blocks/title";
@import "./styles/blocks/drop-list";
@import "./styles/blocks/list-item";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul,
p,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button,
a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

input,
select,
textarea {
  outline: none;
}

.section {
  max-width: 960px;
  margin: 0 auto 40px auto;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: #fff;
  min-height: calc(100% - 175px);
  padding-bottom: 45px;
}

.mat-tooltip {
  font-size: 12px;
}
