html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul,
p,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button,
a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

input,
select,
textarea {
  outline: none;
}

.section {
  max-width: 960px;
  margin: 0 auto 40px auto;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: #fff;
  min-height: calc(100% - 175px);
  padding-bottom: 15px;
}

// drop list
.drop-list {
  transition-property: opacity, transform;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}

.list-item {
  position: relative;
  color: #a6a8a9;
  background-color: #f0f3f8;
  &:hover {
    background-color: #e7ebee;
    color: #95a9c7;
  }
  a {
    padding: 15px 25px 15px 15px;
    display: flex;
    color: inherit;
    align-items: center;
    span {
      margin: 3px 0 0 11px;
    }
  }
  &_active {
    background-color: #e7ebee !important;
    color: #95a9c7;
  }
}

.badge {
  width: 15px;
  top: 11px;
  text-align: center;
  left: 103px;
  position: absolute;
  height: 15px;
  font-size: 13px;
  color: #fff;
  border-radius: 100%;
  background-color: #a6a8a9;
}

@keyframes drop {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  text-align: center;
  color: #3c4958;
  font-size: 25px;
  padding: 0 25px;
  margin: 0;
  line-height: 60px;
  height: 60px;
}

.btn {
  border: none;
  color: #fff;
  &_danger {
    background-color: #fd715a;
    &:hover {
      background-color: #da6250;
    }
  }
  &_primary {
    background-color: #4c87fd;
    &:hover {
      background-color: #3f74df;
    }
  }
  &_success {
    background-color: #44d18d;
    &:hover {
      background-color: #35b678;
    }
  }
}

.not-found {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  div {
    font-size: 25px;
    margin-top: 7px;
  }
  mat-icon {
    font-size: 60px;
    width: 60px;
    height: 60px;
  }
}

.form {
  max-height: 85vh;
  overflow-y: auto;
  &_wide {
    width: 600px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__input-container {
    flex: 45%;
    margin: 10px;
    position: relative;
    mat-datepicker-toggle {
      position: absolute;
      right: 0px;
      top: 0px;
    }
  }
  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px #95a9c7 solid;
    color: #3c4958;
  }
  &__label {
    font-size: 16px;
    color: #3c4958;
    margin: 5px 10px;
    text-align: center;
  }
  &__btn {
    margin: 5px 5px 0 10px;
    font-size: 15px;
    padding: 12px 15px;
  }
  &__controls {
    text-align: center;
  }
  &__list {
    color: #3c4958;
    text-align: center;
    margin-top: 10px;
    button {
      margin-top: 15px;
    }
  }
  &__list-item {
    margin-top: 7px;
    button {
      margin: 0;
      &:hover {
        color: #72849e;
      }
    }
  }
  &__no-items {
    display: flex;
    justify-content: center;
    align-items: center;
    mat-icon {
      margin: 0 6px 5px 0;
    }
  }
  hr {
    margin: 10px 15px;
    border-bottom: none;
  }
}

.error-message {
  color: #dc3545;
  font-size: 12px;
  margin: 5px 0 0 5px;
}

.spinner {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  .mat-spinner {
    circle {
      stroke: #4c87fd;
    }
  }
}

.table {
  box-shadow: none;
  text-align: center;
  border-radius: 3px;
  width: 100%;
  position: relative;
  td,
  th {
    padding: 10px 0;
    border: 2px #e7ebee solid;
  }
  thead {
    background-color: #e7ebee;
  }
  tbody {
    background-color: #f0f3f8;
  }
  &__btn {
    padding: 0 !important;
    button {
      height: 41px;
      width: 100%;
      font-size: 16px;
    }
    &_little {
      button {
        height: 31px;
        width: 50%;
        font-size: 13px;
      }
    }
  }
  &__add {
    position: absolute;
    right: 19px;
    top: -47px;
    padding: 9px 12px;
    font-size: 14px;
  }
}

.overlay-narrow {
  max-width: none !important;
  width: 320px;
  mat-dialog-container {
    padding: 24px 12px;
  }
}

@media (max-width: 959px) {
  .table {
    font-size: 14px;
  }
}

@media (max-width: 860px) {
  .overlay-wide {
    width: 85%;
    max-width: none !important;
  }
  .form {
    &_wide {
      width: auto;
    }
  }
}

@media (max-width: 599px) {
  .overlay-wide {
    width: 95%;
  }
  .form {
    &_wide {
      .form__input-container {
        flex: 100%;
      }
    }
    &__no-items {
      span {
        font-size: 13px;
      }
    }
  }
  .table {
    font-size: 13px;
  }
  .title {
    text-align: left;
  }
}
