h2 {
  text-align: center;
}

.lessons {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  &__item {
    border: 1px rgb(221, 220, 220) solid;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 20px 20px 0 20px;
    width: 277px;
    height: 180px;
    cursor: pointer;
    transition-duration: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    mat-icon {
      font-size: 40px;
      width: 40px;
      height: 40px;
      color: var(--colorDark);
    }
    &:hover {
      background-color: var(--bacgkroundLight);
    }
  }
}

.no-lessons {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 20px;
    color: var(--colorDark);
    margin-bottom: 10px;
  }
}

@media (max-width: 960px) {
  .lessons__list {
    justify-content: center;
  }
}
