<div class="day-lesson">
  <div class="day-lesson__info">
    <div class="day-lesson__kind">
      <span>Общ.</span>
    </div>
    <div class="day-lesson__start">
      <span>10:00</span>
    </div>
    <div class="day-lesson__duration">
      <span>45 мин.</span>
    </div>
    <!-- <div class="day-lesson__student">
      <span>Шурыгин Д.О.</span>
    </div> -->
    <div class="day-lesson__group">
      <span>Аутсайдеры</span>
    </div>
    <!-- <div class="day-lesson__students">
      <div>Шурыгин Д.О.</div>
      <div>Шурыгин Д.О.</div>
      <div>Шурыгин Д.О.</div>
      <div>Шурыгин Д.О.</div>
      <div>Шурыгин Д.О.</div>
      <div>Шурыгин Д.О.</div>
    </div> -->
  </div>
  <div class="day-lesson__controls">
    <button
      mat-icon-button
      matTooltip="Копировать"
      matTooltipPosition="above"
    >
      <mat-icon>file_copy</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Удалить"
      matTooltipPosition="above"
    >
      <mat-icon>remove</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Переместить"
      matTooltipPosition="above"
    >
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
