<h2 class="title">Группы</h2>
<section class="section groups">
  <table class="groups__table table">
    <button (click)="onAddGroup()" class="btn btn_success table__add">Добавить</button>
    <thead>
      <tr>
        <th>№ / Название</th>
        <th>Размер группы</th>
      </tr>
    </thead>
    <tbody *ngIf="!pending">
      <ng-container *ngFor="let group of groups">
        <tr>
          <td>{{ group.name }}</td>
          <td>
            <ng-container *ngIf="!group.studentIdList.length">
              Нет учащихся
            </ng-container>
            <ng-container *ngIf="group.studentIdList.length">
              {{ group.studentIdList.length }}
              {{ 'учащи' | plural:group.studentIdList.length:['йся', 'хся', 'хся'] }}
            </ng-container>
          </td>
          <div fxHide.lt-sm class="table__btn-group">
            <button
              (click)="onEditGroup(group)"
              mat-icon-button
              matTooltip="Править группу"
              matTooltipPosition="above"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              (click)="onDeleteGroup(group.id)"
              mat-icon-button
              matTooltip="Удалить группу"
              matTooltipPosition="above"
            >
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </div>
        </tr>
        <tr fxHide.gt-xs>
          <td class="table__btn-group_little" colspan="2">
            <button
              (click)="onEditGroup(group)"
              mat-icon-button
              matTooltip="Править группу"
              matTooltipPosition="above"
            >Править
              <mat-icon>edit</mat-icon>
            </button>
            <button
              (click)="onDeleteGroup(group.id)"
              mat-icon-button
              matTooltip="Удалить группу"
              matTooltipPosition="above"
            >Удалить
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div *ngIf="groups.length === 0 && !pending" class="not-found">
    <mat-icon>warning</mat-icon>
    <div>
      Список групп пуст
    </div>
  </div>
  <div *ngIf="pending" class="spinner">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
</section>
